################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OneSkyBlock
/bin/Release/net6.0
/obj
